/* Color style can be found here:
https://coolors.co/27baff-171738-ff3366-2e1760-f6f7f8 */

html {
  margin: 0;
}

body {
  background-color: #27BAFF;
  background-image: url('../img/bg_xo.png');
  margin: 0;
  padding: 0;
}

article, .game-tictactoe {
  font-family: 'Anonymous Pro', monospace;
  font-weight: bold;
  color: #2E1760;
  min-width: 300px;
  margin: 0;
  display: inline-block;
  height: 100%;
  padding: 2rem;
  padding-bottom: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* Gameboard */

#table-tictactoe, #table-gameboard {
  margin: 0;
  border-spacing: 1rem;
  border-collapse: separate;
  table-layout: fixed;
}

.tile {
  width: 6rem;
  height: 6rem;
  min-width: 6rem;
  min-height: 6rem;
  font-size: 3rem;
  text-align: center;
  vertical-align: middle;
  background: #F6F7F8;
  /* padding: 1rem; */
  position: relative;
  overflow: hidden;

  border-radius: 0.2em;
}

.tile-active:hover {
  background: #FF3366;
}

/* Game info navbar */

h1, .text-header {
  color: white;
  font-size: 2.8rem;
  font-family: 'Pacifico', cursive;
  letter-spacing: 0.2rem;
  margin: 0;
  margin-left: 1rem;
}

#gameinfo {
  display: flex;
  height: 100px;
  min-width: 1000px;
  justify-content: left;
  margin: 2rem;
  margin-left: 1rem;
  line-height: 100px;
}

#gameinfo * {
  margin: 7px;
  height: 100%;
}

#gameinfo *:nth-child(1) {
  margin-left: 0;
}

#score {
  display: flex;
  background: #F6F7F8;
  line-height: 300%;
  font-size: 1.5rem;
  padding-left: 1rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.4em;
  width: 12.3rem;
}

#turn {
  height: 100%;
  width: 100px;
  font-size: 3rem;
  background: #F6F7F8;
  border-radius: 0.2em;
}

#turn img, .tile img {
  text-align:center;
  width:100%;
  display:block;
  margin:auto;
}

#score * {
  margin: 1rem;
}

.button {
	background-color:#F6F7F8;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border: none;
	display:inline-block;
  cursor:pointer;
  font-family: 'Anonymous Pro', monospace;
  font-weight: bold;
	color: #2E1760;
	font-size:1.3rem;
	padding:16px 31px;
  text-decoration:none;
  min-width: 7.5rem;
}
.button:hover {
	background-color:#FF3366;
}
.button:active {
	position:relative;
	top:1px;
}

#slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  width: 100%;
}

#slider-adjust-size {
  display: block;
  width: 37rem;
  margin-left: 1rem;
}

.slidercontainer {
  padding: 0;
}

.slider-inactive {
  opacity: 0.4;
}

.slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;   
  background: rgba(246, 247, 248, 0.7);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(246, 247, 248);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F6F7F8;
  cursor: pointer;
}

/* End screen */

#score-winner {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0,0,0, 0.7);
  height: 100%;
  width: 100%;

  padding-left: 10rem;
  padding-top: 20rem;

  margin: 0;
  text-align: left;
  vertical-align: top;

  font-size: 4rem;

}
